body {
    padding: 0 1cm;
    
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    font-size: 17px;
}




header {
    background-color: rgba(186, 255, 255, 0.795);
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(125, 229, 255);
    color: rgb(0, 0, 0);
}


menu {
    background-color: rgba(225, 214, 201, 0.829);
    padding: 20px;
    float: left;
    margin-top: 5px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    word-wrap: break-word;
    min-width: 150px;
    max-width: 200px;
    height: min-content;
}


 
article {
    background-color: #f9ffff;
    float: left;
    margin-left: 20px;
    padding: 10px;
    border-left: 2px solid rgb(75, 219, 255);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    margin-bottom: 15px;
    overflow: hidden;
}
.menu-article{
    display:flex;
}



footer {
    background-color: beige;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-top: 2px solid rgb(75, 219, 255);
    clear: both;
}

a {
    color: rgb(43, 86, 226);
    text-decoration: none;
    transition: color 0.3s ease;
    
}

a:hover {
    color: rgba(221, 98, 50, 0.747);
    text-decoration:none;
    outline: 2px ridge rgba(226, 47, 172, 0.507);
    border-radius: 1rem;
    
}

a:visited {
    color: rgb(17, 121, 240);
}
a:active {
    outline:2px ridge  rgba(161, 26, 82, 0.87);
    transition: outline 0.3s ease;
}


canvas {
    background: #000;
    display: block;
    margin: auto;
}

.nav-buttons {
    margin: 40px 0;
}

.nav-buttons a {
    display: inline-block;
    margin: 0 0px;
    padding: 4px 8px;
    font-size: 1em;
    color: rgb(255, 255, 255);
    background-color: rgba(46, 206, 179, 0.685);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-buttons a:hover {
    background-color: rgba(255, 68, 0, 0.555);
    color: rgb(255, 253, 226);
}
.nav-buttons a:active{
    transition: outline 0.3s ease;
}

img{
    border-radius: 8px;
    height: auto;
}
.modal {
  padding: 0px;
  margin: 0px;
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;


}


.modal.fade-out {
  animation: fadeOut 0.3s ease;
}
@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
.modal-content {
  margin: auto;
  display: block;
  max-height: 80vh;
  width:80%;
  animation: fadeIn 0.6s;
  transition: filter 0.3s ease, transform 0.3s ease;
  padding-top: 5%;
  object-fit: contain;
  box-sizing: border-box;
}

.modal-image:hover {
  filter: brightness(60%);
}
.modal-image{
  cursor: pointer;
  transition: 0.2s;
  

}
.caption {
  margin: 15px auto;
  text-align: center;
  color: white;
  font-size: 15px;
  margin-left: 10%;
  margin-right: 10%;
  object-fit: cover; 
}



.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  z-index: 1001;
}

.close:hover,
.close:focus {
  color: #f00;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.1);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* Анимация падающих звезд */
.stars_backgrouns {
    position:fixed;
    top: 0;
    left: 0;
    z-index: -2;
}
.couponcode {
  color: red;
  cursor: pointer;
}

.couponcode:hover .tooltip {
  display: block;
}

.tooltip {
  position: fixed;
  white-space: nowrap;
  display: none;
  background: #f1ffccb2;
  border: 1px solid rgba(0, 0, 0, 0.719);
  padding: 5px;
  z-index: 1000;
  color: rgb(0, 0, 0);
  overflow: hidden; /* Скройте лишнее */
  margin: 0px;
}
.toolltip_img{
  border-radius: 5px;
  margin-bottom: 4px;

}




.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }



.image-in-text{
  margin: 0 10px 10px 0;
}

header {background-color: rgba(186, 255, 255, 0.384);
  color: rgb(255, 255, 255);}
menu {
background-color: rgba(255, 245, 233, 0.363);}
footer {
background-color: rgba(245, 245, 220, 0.315);
color: rgb(255, 255, 255);}

